.ako{
    border-top: 1px #646464 solid;
  background-color: #f0ece4;
  padding: 73px 40px;
}
.flecha{
    border-radius: 50%;
    padding: 5px;
    border: 1px black solid;
    color: black;
    font-weight: 500;
}
.flecha:hover{
    background-color: #ea1917;
  border: 1.6px #ea1917 solid;
  color: white;
}
.inde{
    font-size: 36px;
    color: black;
}
.ex{
    font-size: 16px;
    color: black;
}
@media (max-width: 650px) {
  .gh {
    font-size: 36px;
  }
  .hg {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  .ako {
    padding: 43px 20px;
  }
}

@media (max-width: 400px) {
  .gh {
    font-size: 26px;
  }
  .hg {
    font-size: 12px;
  }
}