.cabecera{
    border-top: 1px #646464 solid;
    background-color: #f0ece4;
    padding: 35px 55px;
}
.parte {
  color: #4a4946;
  font-size: 16px;
}
.inde{
    font-size: 36px;
    color: black;
}
.ex{
    font-size: 16px;
    color: black;
}
.flecha{
    border-radius: 25px;
    padding: 10px 20px;
    border: 1px black solid;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.fecha{
  width: 305px;
}
.flecha:hover{
    background-color: #ea1917;
  border: 1.6px #ea1917 solid;
  color: white;
}
@media (max-width: 820px) {
  .parte {
    font-size: 13px;
  }
}
@media (max-width: 815px) {
  .inde{
    font-size: 24px;
  }
  .ex{
    font-size: 13px;
  }
  .dfg{
    width: 62px;
    height: 62px;
  }
}
@media (max-width: 735px) {
   .etl{
        width:380px;
    }
}
@media (max-width: 680px) {
  .gh {
    font-size: 36px;
  }
  .hg {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
   .titulo{
        font-size: 36px;
    }
}
@media (max-width: 460px) {
  .cabecera {
    padding: 23px 20px;
  }
  .ako {
    padding: 43px 20px;
  }
}
@media (max-width: 400px) {
  .gh {
    font-size: 26px;
  }
  .hg {
    font-size: 12px;
  }
  .fecha{
    width: 220px;
    font-size: 12px;
  }
}