.gen{
    padding: 73px 40px;
    border-top: 1px #646464 solid;
    background-color: #f0ece4;
    font-family: LGEI Text, Segoe UI, "Microsoft Sans Serif", sans-serif;
}
.formulario{
    background-color: white;
    width: 100%;
    border-radius: 25px;
    padding: 25px;
}
.entrada{
    font-size: 16px;
    padding: 12px 13px;
    box-sizing: border-box;
    border: 1px black solid;
    border-radius: 15px;
}